@import "tailwindcss";

.filterBtn {
    border: 1px solid gray;
    padding: 8px 10px;
    border-radius: 40px;
    box-shadow: 2px 2px gray;
}

.active {
    background-color: gray;
    border: 1px solid;
}

.active span {
    display: block;
}